/* Styles.css */



header {
  background-color: white;
  color: #042b6f;
  padding-left: 80px;
  padding-right: 60px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Set width to 90% */
  /*max-width: 1200px; /* Add a max-width to limit the header width */
  border-bottom: 3px solid #ddd; /* Adjust the border color as needed */
}

header .title {
  font-size: 48px; /* Adjust as needed */
  font-weight: bold; /* Optional, depending on the font and design */
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .label {
  font-size: 17px; /* Adjust as needed */
  font-weight: bold; /* Optional, depending on the font and design */
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .icons {
  display: flex;
  gap: 10px;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%; /* Set width to 100% */
}

.input-row input {
  padding: 10px;
  font-size: 12px;
  width: 100%; /* Set width to 100% */
  
}

.input-table {
  width: 100%;
  
}

.input-table td {
  width: 12.5%;
 
}

.input-table input,
.input-table select {
  width: 100%;
  height: 29px;
}


/* Custom styles for the table */

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.table-wrapper {
  overflow-x: auto;
}

.react-table {
  width: 100%;
  margin-top: 10px;
  font-size: 10px;
  border-collapse: collapse; /* Ensure borders collapse properly */
}

.react-table th,
.react-table td {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 6px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Adjust the border color as needed */
  background-color: #fff;
  border-color: #a2aabd !important; /* Set border color explicitly with !important */
}

/* Apply styles to the first group header row */
thead tr.group-header.depth-0 {
  background-color: #95c7f0;
  font-weight: bold;
  font-size: 12px;
  
}

thead tr.group-header.depth-0 th{
  border: 2px solid #a2aabd;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* Reset styles for th elements within the first group header row */
thead tr.group-header.depth-0 th {
  background-color: initial;
  color: initial;
  border: 2px solid #a2aabd;
}

/* Apply styles to the second group header row */
thead tr.group-header.depth-1 {
  background-color: lightblue;
  font-weight: normal;
  font-size: 11px;
}

/* Reset styles for th elements within the second group header row */
thead tr.group-header.depth-1 th {
  background-color: initial;
  color: initial;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Add the following styles for vertical borders */
.react-table th,
.react-table td {
  border-left: 1px solid #ddd; /* Adjust the border color as needed */
}

.react-table th:first-child,
.react-table td:first-child {
  border-left: 2px solid #ddd; /* Adjust the thickness and color of the left border */
}

.react-table th:last-child,
.react-table td:last-child {
  border-right: 2px solid #ddd; /* Adjust the thickness and color of the right border */
}

/* Add the following styles for hover effect on table rows */
.zebra tbody tr:hover td,
.-highlight tbody tr:hover td {
  background-color: rgb(212, 227, 232); /* Adjust the color as needed */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}



/* Pagination controls */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
}

.pagination button  {
  margin: 0 5px;

  background-color: #a6bfd9; /* Adjust the background color as needed */
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  
}

.pagination button:hover {
  background-color: #4168ac; /* Adjust the hover color */
}

/* Modal overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Edit modal styles */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .15s linear;
}


.edit-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.edit-modal {
  position: relative;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adjust as needed */
}

.save-button,
.cancel-button {
  padding: 8px 16px; /* Adjust as needed */
}

.save-button{
  
  padding: 10px;
  font-size: 16px;
  background-color: #0c7a62;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.save-button:hover {
  background-color: #38cd83;
}

/* Confirmation modal styles */
.confirmation-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-message {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.confirm-button,
.cancel-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-button {
  background-color: #0c7a62; /* Use the green color */
  color: #fff;
}

.confirm-button:hover {
  background-color: #38cd83; /* Adjust the hover color */
}

.cancel-button {
  background-color: #f44336; /* Use the red color */
  color: #fff;
}

.cancel-button:hover {
  background-color: #ff6659; /* Adjust the hover color */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.add-button {
  padding: 15px;
  font-size: 18px;
  background-color: #0c7a62; /* Green color */
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.add-button:hover {
  background-color: #38cd83; /* Adjust the hover color */
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px; /* Adjust the padding as needed */
  background-color: #007bff; /* Adjust the background color as needed */
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.edit-button:hover {
  background-color: #0056b3; /* Adjust the hover color */
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px; /* Adjust the padding as needed */
  background-color: #d33434; /* Adjust the background color as needed */
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #a60d2e; /* Adjust the hover color */
}

/* edit ticket modal*/

.modal-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity .15s linear;
}

.modal-container .form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  align-items: center;
  font-size: 12px;
}

.modal-container label {
  flex: 1;
  margin-right: 10px;
}

.modal-container h3 {
  text-align: center;
  margin-bottom: 10px; /* Adjust the margin value as needed */
}

.modal-container input,
.modal-container select {
  flex: 2;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-container .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-container .confirm-button,
.modal-container .cancel-button {
  padding: 10px 20px;
  cursor: pointer;
}

.modal-container .confirm-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.modal-container .cancel-button {
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.ticket-filter {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px; /* to ensure that margin:auto doesn't collapse */
  margin-left: auto;  /* auto margin on the left */
  margin-right: auto; /* auto margin on the right */
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 90%; /* Adjust the max-width as needed */
  font-size: 12px;
  background-color: #aeeadd; /* Green color */
  justify-content: center;
  align-items: center;
}

.ticket-filter label {
  flex: 1;
  max-width: 120px; /* Adjust the max-width as needed */
}

.ticket-filter select,
.ticket-filter input {
  flex: 2;
  padding: 5px;
  box-sizing: border-box;
  max-width: 300px; /* Adjust the max-width as needed */
}

.reset-button {
  /* Style for the reset button */
  padding: 8px;
  background-color: rgb(103, 173, 125); /* Adjust the color as needed */
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 15px;
}

/* Add this style for the solution table */
.solution-table {
  width: 100%;
  margin-top: 20px;
  font-size: 11px;
  border-collapse: collapse;
  table-layout: fixed;
}

.solution-table th,
.solution-table td {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 6px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #fff;
  border-color: #a2aabd !important;
}

/* Add this style for the view button */
.view-button {
  padding: 6px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.view-button:hover {
  background-color: #0056b3;
}

/* PDF and Video Section Styles */
.pdf-section, .video-section, .ticketid_section {
  margin-top: 20px;
  display: flex;
}

h4 {
  margin-bottom: 10px;
}

.pdf-button{
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #469e78;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  margin: 15px;
}

.video-button {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #b1742a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  margin: 15px;
}

.ticketid-button {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #2ab17d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  margin: 15px;
}

.resolve-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px; /* Adjust the padding as needed */
  background-color: #3fde64; /* Adjust the background color as needed */
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.resolve-button:hover {
  background-color: #097a1e; /* Adjust the hover color */
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); /* Adjust min size as needed */
  grid-gap: 35px; /* Space between images */
  padding: 15px; /* Padding around the grid */
}

.step-container {
  text-align: center; /* Aligns the text of the comment */
}

.step-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.step-comment {
  margin-top: 8px; /* Space between image and comment */
  font-size: 0.8rem; /* Smaller font size for comments */
  color: #666; /* Color for the comment text */
}

.main-container {
  width: 85%; /* Adjust this width to match your design */
  margin: 0 auto; /* This will center the container */
}

.filter-section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box; /* Include padding in the width */
  border-bottom: 2px solid #ccc;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-auto-rows: minmax(100px, auto); /* Adjust min height to suit content */
  gap: 16px;
  padding: 6px;
  align-items: start;
}

/* Targets the first cell in the grid to occupy two rows */
.chart-cell:first-child {
  grid-row: span 2;
}

/* Targets the table to align with the first cell vertically */
.table-cell {
  grid-row: span 2;
}

@media (max-width: 768px) {
  .chart-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }

  .chart-cell:first-child,
  .table-cell {
    grid-row: span 1; /* Each cell takes only one row on smaller screens */
  }
}

@media (max-width: 480px) {
  .chart-grid {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }

  .chart-cell:first-child,
  .table-cell {
    grid-row: span 1; /* Each cell takes only one row on very small screens */
  }
}

/* CSS for the chart cells */
.chart-cell {
  border: 1px solid #cccccc; /* light grey border */
  background-color: #f9f9f9; /* very light grey background */
  border-radius: 8px; /* rounded corners */
  padding: 10px; /* padding inside the cells */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* adjust as needed */
}

/* CSS for the header/section separators */
/* Ensure that the section header takes full width */
.section-header {
  border: 1px solid #cccccc; /* light grey border */
  grid-column: 1 / -1; /* Makes it stretch across all grid columns */
  text-align: center;
  padding: 8px;
  font-size: 1.2em; /* larger font size for headers */
  margin-top: 6px; /* space above the header */
  margin-bottom: 6px; /* space below the header */
  background-color: #bcd9f0; /* slightly different background for the header */
  border-radius: 8px; /* rounded corners for the header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* optional: adds subtle shadow */
}

.chart-grid, .section-header {
  width: 100%;
  margin: auto;
}

.tab-header {
  display: flex;
  justify-content: center; /* Align tabs in the center */
  margin-bottom: 1em;
  margin-top: 1em;
  border-bottom: 1px solid #bcd9f0;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #cccccc;
  margin: 0 5px; /* Spacing between tabs */
  border-radius: 5px 5px 0 0;
  background-color: #f0f0f0;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.tab.active {
  background-color: #bcd9f0;
  border-bottom: 1px solid transparent; /* Transparent bottom border to keep the tab layout consistent */
}

/* Add styles for the non-active tabs when hovered to improve user interaction */
.tab:hover:not(.active) {
  background-color: #e0e0e0;
}


/* Apply this class to the row that needs a separator */
.section-separator {
  display: flex;
  justify-content: space-between;
  margin-top: 32px; /* space above the new section */
  
}


.chart-cell > * {
  width: 100%;
  height: auto;
  min-width: 0;
  min-height: 0;
  place-items: center;
}

.chart-container {
  width: 100%; /* Full width of the parent container */
  height: 580px; /* Fixed height for consistency */
  padding: 16px; /* Space below each chart container */
  display: flex;
  flex-direction: column;
}

.chart-title {
  text-align: center;
  margin-bottom: 8px; /* Space below the title */
}

.vertical-text-cell {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  width: 1%; /* Keep the first column narrow */
}

.vertical-text {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 10px; /* Reduce font size */
}

table, th, td {
  border: 1px solid black;
  padding: 4px; /* Adjust padding as needed */
  text-align: left;
}

table th {
  background-color: #72a8ac; /* Replace with your desired color */
  color: white; /* Optional: change the text color for better contrast */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Adjust minmax values as needed */
  gap: 10px; /* Space between images */
  margin-top: 10px; /* Space above the grid */
}

.image-grid img {
  width: 100%;  /* Make images fill their container */
  height: 150px; /* Fixed height for all images */
  object-fit: cover; /* Ensures images cover the area without distortion */
  border-radius: 4px; /* Optional: for rounded corners */
}

.image-grid .image-container {
  position: relative;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.image-container input {
  margin-top: 5px;
  padding: 5px;
  width: 90%; /* Adjust as needed */
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: red;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px 5px;
  display: none;
}

.image-container:hover .delete-icon {
  display: block;
}


/* Style for image comments */
.image-comment {
  text-align: center;
  font-size: 1.1em; /* Adjust size as needed */
  margin-top: 5px;
}

/* Increased font size and styling for the modal title */
.modal-container h3 {
  font-size: 1.4em; /* Adjust size as needed */
  text-align: center;
  margin-bottom: 20px;
}

.modal-container h4 {
  font-size: 1.0em; /* Adjust size as needed */
}

/* Additional styling for the image grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); /* Adjust as needed */
  gap: 10px;
  margin-top: 10px; /* Add some space above the grid */
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px; /* Optional for rounded corners */
}

.ticket-details dl {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5em 1em; /* Row gap and column gap */
  align-items: center;
  font-size: 1.1em; 
  color: #180443;
}

.ticket-details dt {
  grid-column: 1;
  text-align: left;
  font-weight: bold;
  color: #333; /* Or any color to highlight the keys */
  font-size: 1.3em; 
}

.ticket-details dd {
  grid-column: 2;
  text-align: left;
  margin: 0; /* Reset default margin */
}

/* Ensure that the keys are bold and the values have a normal font weight */
.ticket-details dd {
  font-weight: normal;
}

.status-container {
  
  margin-top: 13px;
  margin-bottom: 13px;
  
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 15px solid #f3f3f3;
  border-top: 15px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Default is one column */
  gap: 20px; /* Space between sections */
}

.grid-container.three-columns {
  grid-template-columns: 1fr 1fr 1fr; /* Two columns when more than three sections */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.modal-container {
  animation: fadeIn 0.6s ease-out forwards;
}

.login-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Split the screen size into two columns */
  height: 100vh; /* Full height of the viewport */
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px; /* Adjust padding as needed */
}

.login-form .form{

  margin: 50px; /* Adjust padding as needed */
}

.login-form h2 {
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%; /* Full width of the form-group */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-image {
  background-image: url("../img/login.jpeg"); 
  background-size: cover;
  background-position: center;
}

.nav-item .nav-treeview {
  padding-left: 20px; /* Adjust as needed for indentation */
}

.nav-item .nav-treeview .nav-link {
  font-size: 0.9em; /* Smaller font size for submenu items */
}
.pair-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  margin-left: 5px;
}



.form-group input {
  margin-right: 5px; 
}
.key-input, .value-input {
  flex-grow: 1; /* Allows inputs to grow and fill the space */
  margin-right: 10px; /* Adds spacing between the inputs */
}

/* Adjust the flex-basis so that the combined width of inputs and margins does not exceed 100% */
.key-input {
  flex-basis: calc(50% - 10px); /* Adjust based on the margin */
}

.value-input {
  flex-basis: calc(50% - 10px); /* Adjust based on the margin */
}

.form-remove-button, .form-add-button {
  padding: 6px 10px;
  margin-left: 5px;
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap; /* Keeps the button text on one line */
}
.form-remove-button{
  background-color: #f44336; /* Red */
  color: white;
}
.form-add-button {
  background-color: #20c83f; /* Red */
  color: white;
}

/* Adjustments for better mobile responsiveness */
@media (max-width: 768px) {
  .key-input, .value-input {
    flex-basis: 100%; /* Full width on small screens */
    margin-right: 0; /* Remove margin between inputs on small screens */
  }

  .pair-container {
    flex-wrap: wrap; /* Allows items to wrap on small screens */
  }

  .form-remove-button {
    margin-top: 10px; /* Adds space above button on small screens */
    flex-basis: 100%; /* Full width button on small screens */
  }
}

.wider-select {
  max-width: 808px; /* Adjust the maximum width as needed */
  width: 100%; /* This makes it take up the full available width */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* CSS for media thumbnails */
.media-thumbnail {
  cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
  display: inline-block; /* Display as inline-block to contain the image */
  margin-right: 10px; /* Add some spacing between thumbnails */
}

/* Add this CSS to your stylesheets or style section */
.media-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.media-image-container {
  position: relative;
  display: inline-block;
}

.media-image-container img {
  max-width: 100%;
  height: auto;
}

.media-navigation-container {
  position: relative;
  width: 100%;
  max-height: 10%;
}

.media-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 10px;
  z-index: 1; /* Ensure it's on top of the image */
}

.prev-button,
.next-button {
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.3); /* Transparent black background */
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(65, 45, 45, 0.2); /* Semi-transparent white on hover */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.3); /* Transparent black background */
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 2; /* Ensure it's on top of the navigation buttons */
}

.close-button:hover {
  background-color: rgba(255, 0, 0, 0.6); /* Semi-transparent red on hover */
}

/* General styles for both operation and action tables */
.operations-table, .action-table {

  max-width: 100%;
  border-collapse: separate; /* Allows for individual cell borders and radius */
  border-spacing: 0; /* Removes the space between cell borders */
  border: 0px solid #5490da; /* Adjusted border color */
  border-radius: 4px; /* Rounded corners for the table */
  overflow: hidden; /* Prevents children from overflowing rounded corners */
}
.operations-table th, .action-table th, .operations-table td, .action-table td {
  
  border:1px solid rgb(153, 152, 152); /* Adjusted border color */
  
  overflow: hidden; /* Prevents children from overflowing rounded corners */
}

.phases-table th {
  background-color: #839dc6;
  color: white;

  font-size: 14px; /* Larger font size for operations table headers */
}

.operations-table th {
  background-color:#9ac9d8;
  color: white;

  font-size: 14px; /* Larger font size for operations table headers */
}
.operations-table{
  font-size: 12px; /* Larger font size for operations table headers */
  cursor: pointer;
}
.action-table{
  font-size: 10px; /* Larger font size for operations table headers */
}

/* Table header (th) styles for action table */
.action-table th {
  background-color: #84bcaf;
  color: white;

  font-size: 12px; /* Slightly smaller font size for action table headers */
}

/* Table data cell (td) styles for both tables */
.operations-table td, .action-table td {

  text-align: left;
  border-bottom: 1px solid #eaecef; /* Light grey border for separation */
  background-clip: padding-box; /* Prevents background from spilling into the border area */
}

/* Apply rounded corners to the first and last th for top row and td for bottom row */
.operations-table th:first-child, .action-table th:first-child {
  border-top-left-radius: 4px;
}

.operations-table th:last-child, .action-table th:last-child {
  border-top-right-radius: 4px;
}

.operations-table tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.operations-table tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

/* Operation row hover effect */
.operation-row:hover {
  background-color: #86e1d5; /* Darker grey on hover for interactivity */
}

/* Card header hover effect */
.card-header-hover:hover {
  background-color: #c9eaf3;
  cursor: pointer;
}

.button-group {
  display: flex;
  gap: 5px; /* Adjust the gap between buttons as needed */
}

.OpenDeviceButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Primary button color */
  color: #ffffff; /* Text color */
  font-size: 16px;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 0 auto; /* Center the button horizontally */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.button-container {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.OpenDeviceButton:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}





